body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

h1 {
    color: #333;
    width: 100%; /* Para que el título ocupe todo el ancho y esté arriba */
    text-align: center;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    width: 200px;
}
